.footer {
    width: 1300px;
    margin: 0 auto;
    margin-top: 20px;
}

.footer-top {
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 100%;
    padding-top: 30px;
    border-top: 1px solid #ddd; 
    
}


.image-pay a img {
    width: 60px; /* Kích thước nhỏ hơn */
    margin-left: 30px;
}

.image-method a img{
    width: 35px;
    margin: 10px 10px;
}
.right {
    width: 300px;
}
.right .voucher{
    color: red;
    font-weight: bold;
    margin-bottom: 20px;
}

.right .voucher-little{
    color: gray;
    margin-bottom: 20px;
    font-size: 13px;
}

.right .input-register input{
    display: block;
    line-height: 35px;
    border-radius: 10px;
    border: 1px solid darkblue;
    padding-left: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    height: 40px;
    width: 100%;
}
.right .check {
    margin-top: -10px;
    padding: 5px;
}
.right .check input{
    margin-right: 10px;
}

.right button {
    background-color: #A60A0A;
    color: white;
    border: none;
    border-radius: 10px;
    height: 35px;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
    margin-top: 30px;
}

.footer-bottom {
    text-align: center;
    border-top: 2px solid #ddd;
    
}
.footer-bottom {
    
    width: 60%;   
    margin: 0 auto 0 auto; /* Căn giữa và cách đáy trang 10px */
    text-align: center;
    left: 0;
    right: 0;
}

.footer-bottom .three {
    display: flex;
    justify-content: center; /* Căn giữa nội dung */
    gap: 30px; /* Khoảng cách giữa các phần tử */
    line-height: 1;
}